/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

h1 {
    font-size: 25px;
    padding-top: 1.5em;
    padding-bottom: 0.1em;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 17px;
    font-weight: 600;
}

h4 {
    font-size: 18px;
    font-weight: 600;
}

p {
    font-size: 15px;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
    margin-left: 5px;
}

.neutral-star {
    color: var(--main-bg-color)
}
/****** Header ***********/
nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-weight: 300;
    padding-top: 30px;
}

.logo img {
    max-width: 30%;
    height: auto;
}

.links {
    display: flex;
    flex-direction: row;
    gap: 50px;
    list-style: none;
}

.links li a:hover {
    color: var(--main-color);
    border-top: 2px solid var(--main-color);
    padding-top: 29px;
}

/****** Recherche ***********/
.recherche {
    margin-top: 30px;
    width: 100%;
    height: 47px;
    display: flex;
    justify-content: flex-start;
    padding: 10px;  
}

form {
    display: flex;
    align-items: center;
    width: 32%;
    height: 47px;
    background-color: var(--main-bg-color);
    border-radius: 15px ;
}

.fa-location-dot {
    color: black;
    font-size: 1em;
    margin: 15px;
}

.box {
    width:60%;
    height: 47px;
    font-size: 20px;
    text-align: center;
    border: 1px solid var(--main-bg-color);
}

.box::placeholder {
    color: black;
    font-weight: 800;
    font-size: 17px;
}

.envoie {
    background-color: var(--main-color);
    color: var(--filter-bg-color);
    border: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 15px ;
    border-bottom-right-radius: 15px;
    width: 40%;
    height: 49px;
    font-size: 18px;
    font-weight: 800;
}

.envoie i {
    display: none;
}

/****** Filtres ***********/
.filtres {
    gap: 10px;
    margin-top: 30px;
    display: flex;
    align-items: center;
}

.filtres button {
    background-color: white;
    border-radius: 30px;
    padding: 10px;
    font-size: 16px;
    font-weight: 800;
    border: 2px solid var(--main-bg-color);
    cursor: pointer;
    margin-right: 10px;
}

button:hover {
    background-color: var(--filter-bg-color);
    color: black;
}

.info {
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-right: 10px;
}

.btn-info {
    padding: 8px;
    margin-right: 10px;
    border-radius: 20px  ;
    font-size: 10px;
    width: 30px;
    height: 30px;
    border: 2px solid var(--main-bg-color);
    background-color: white;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    box-sizing: border-box;
    margin-top: 30px;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    padding: 30px;
}

.hebergements-cards {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    row-gap: 30px;
}

.hebergements-title {
    margin-bottom: 30px;
}

.hebergements-cards a {
    width: 30%;
    height: 240px;
}

.hebergements-cards .card {
    height: 100%;
}

.hebergements-cards img {
    width: 100%;
    height: 60%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
    width: 100%;
    padding-left: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.hebergements-cards .card-title {
    margin-top: 8px;
    margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
    margin: 0;
    display: flex;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
}

.more{
    margin-top: 34px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
    padding: 30px;
}

.populaires-cards {
    display: flex;
    flex-direction: column;
    row-gap: 45px;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.populaires-cards .card {
    display: flex;
    
}

.populaires-cards img {
    width: 33%;
    height: 146px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activites ***********/
.activites {
    padding: 50px;
    margin-bottom: 20px;
}

.activites-title {
    margin-bottom: 30px;
}

.activites-cards {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    width: 100%
}

.link-card {
    width: 25%;
}

.activites-cards .card {
    height: 440px;
    display: flex;
    flex-direction: column;
    padding: 0;
}

.activites-cards img {
    height: 88%;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.activites-cards .card-content {
    height: 12%;
    display: flex;
    align-items: center;
}

.activites-cards .card-title {
    margin-left: 20px;
}

/****** Footer ***********/
footer {
    display: flex;
    gap: 250px;
    padding: 20px;
    background-color: var(--main-bg-color);
}

.footer-links {
    list-style: none;
    margin-top: 15px;
}

.footer-links li {
margin-bottom: 15px;
}

.footer-links a {
    width: 100%;
}

.accent {
    text-transform: uppercase;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    form{
        width: 50%;
    }

    .filtres {
        flex-direction: column;
        align-items: flex-start;
        gap: 18px;
    }
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .hebergements-cards {
        row-gap: 30px;
    }

    .hebergements-cards a {
        width: 30%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .populaires-cards .card-content {
        padding-left: 10px;
    }

    .activites {
        padding: 30px;
    }

    .activites-cards .card {
        height: 250px;
    }

    .activites-cards img {
        height: 75%;
    }

    .activites-cards .card-content {
        height: 25%;
    }

    footer {
        gap: 140px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    * {
        box-sizing: border-box;
    }

    html, body {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        width: 100%;
    }
    
    .main-container{
        padding: 0;
        margin: 0;
    }

    a {
        width: 100%;
    }

    h1 {
        padding: 0px;
        font-size: 22px;
    }

    p {
        margin-top: 10px;
        font-size: 16px;
    }

    nav{
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .logo {
        display: flex;
        justify-content: center;
    }

    .logo img {
        max-width: 35%;
        margin-bottom: 25px;
        margin-top: 25px;
    }

    .links {
        display: flex;
        width: 100%;
        gap: 0;
    }

    .gauche {
        flex: 1;
        display: flex;
        justify-content: center;
    }

    .droite {
        flex: 1;
        display: flex;
        justify-content: center;
    }

    .links a {
        display: flex;
        justify-content: center;
        border-bottom: 2px solid var(--main-bg-color);
        padding-bottom: 10px;
    }

    .links a:hover{
        border-bottom: 2px solid var(--main-color);
    }

    .links li {
        margin: 0;
    }

    .links li a:hover {
        border-top: hidden;
        padding: 0;
    }

    .titre {
        margin: 20px;
    }

    .recherche {
        align-items: center;
        padding: 20px;
    }

    form {
        width: 98%;
    }

    .envoie {
        width: 45px;
        border-radius: 15px ;
        position: absolute;
        right: 0;
        margin-right: 20px;
    }

    .envoie .text {
        display: none;
    }

    .envoie i {
        display: inline-block;
        padding: 10px;
        color: white;
    }

    .box {
        width: 90%;
    }

    .box::placeholder {
        padding-right: 40px;
    }

    .filtres {
        margin-left: 20px;
        margin-right: 20px;
    }
    
    .button {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .filtres button {
        margin-right: 0;
        font-size: 13px;
    }

    .button button {
        width: 49%;
        margin: 0;
        
    }

    .info {
        padding: 20px;
        margin-bottom: 10px;
    }

    .btn-info {
        margin-right: 10px;
    }

    .hebergements-and-populaires section {
        border-radius: 0px;
        margin-top: 0;
    }

    .hebergements-and-populaires .hebergements {
        background-color: white;
    }

    .populaires {
        order: 1;
        width: 100%;
        padding: 20px;
    }

    .populaires-title {
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .populaires-cards {
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
    }

    .populaires-cards .card {
        margin-top: 8px;
    }

    .populaires-cards a {
        width: 100%; 
    }

    .hebergements {
        order: 2;
        padding: 20px;
    }

    .hebergements-title {
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .hebergements-cards {
        align-items: center;
        flex-direction: column;
    }

    .hebergements-cards a {
        width: 100%;
    }

    .hebergements-cards .card {
        width: 100%;
        margin-top: 8px;
    }

    .more {
        margin-top: 10px;
    }

    .activites {
        padding: 24px;
        margin-bottom: 50px;
    }

    .activites-cards {
        flex-direction: column;
        align-items: center;
        gap: 18px;
    }

    .link-card {
        width: 100%;
    }
    
    .activites-cards .card {
        height: 200px;
    }

    footer {
        gap: 0;
        flex-direction: column;
        gap: 30px;
        padding: 30px 22px 0px;
    }

    .footer-links {
        margin-top: 20px;
    }
}