/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

:root { /*Couleurs general*/
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

body {
    display: flex;
    justify-content: center; /*Centre le contenu*/
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit; /*Retire la couleur des liens*/
    text-decoration: none; /*Retire le soulignement*/
}

ul {
    list-style: none; /*Retire les puces de la liste*/
}

/****** Card ***********/
.card {
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1)); /*Definit l'ombre*/
    box-sizing: border-box; /*Inclu padding et border*/
    height: 100%; /*Egalise les card*/
    padding: 5px;
}

.card img {
    object-fit: cover; /*Rempli et garde les proportions*/
}

.card-content { /*Contenu de la card*/
    padding-top: 5px;
    padding-left: 8px;
    display: flex;
    flex-direction: column;
    row-gap: 3px; /*Espace avec la ligne du dessous*/
}

.card-txt { /*Zone texte*/
    display: flex;
    flex-direction: column;
    row-gap: 6px; 
}

.card-title {
    font-size: 16px; /*Taille police*/
    font-weight: 700; /*Epaisseur police*/
}

.card-subtitle {
    font-size: 14px;
    font-weight: 400;
}

.euro { /*Signe €*/
    font-weight: 700;
    margin-left: 5px;
}

/*Zone note*/
.fa-solid { /*Etoile bleu*/
    color: var(--main-color);
}

.neutral-star { /*Etoile grise*/
    color: var(--main-bg-color)
}

/****** Header ***********/
header {
    padding-top: 30px;
}

nav {
    display: flex;
    justify-content: space-between; /*Espace egale entre chaque element*/
}

.logo {
    height: 19px; /*Taille lien logo*/
    width: 61px;
}

.logo img {
    width: 100%; /*Taille de l'image*/
    height: 100%;
}

.links { /*lien de navigation*/
    display: flex;
    gap: 50px; /*Espace entre les elements*/
}

.links li a:hover { /*Effet au survol*/
    color: var(--main-color);
    border-top: 2px solid var(--main-color);
    padding-top: 29px;
}

/****** Title ***********/
.title {
    padding: 30px 0px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.section-title {
    font-size: 22px;
}

/****** Search ***********/
.search {
    justify-content: flex-start;  
}

form {
    display: flex;
    align-items: center; /*Aligne horizontalement*/
    width: 32%; /*Largeur par apport a la page*/
    height: 47px;
    background-color: var(--main-bg-color);
    border-radius: 15px ;
}

.fa-location-dot { /*Logo localisation*/
    color: black;
    font-size: 1em;
    margin: 15px;
}

.box { /*Zone de texte*/
    width:60%;
    height: 47px;
    text-align: center;
    border: 1px solid var(--main-bg-color);
}

.box::placeholder { /*Texte dans la zone de texte*/
    color: black;
    font-weight: 800;
    font-size: 17px;
}

.send { /*Bouton rechercher*/
    background-color: var(--main-color);
    color: var(--filter-bg-color);
    border: none;
    cursor: pointer;
    border-top-right-radius: 15px ;
    border-bottom-right-radius: 15px;
    width: 40%;
    height: 49px;
    font-size: 17px;
    font-weight: 800;
}

.send i { /*Passe du texte au logo loupe*/
    display: none;
}

/****** Filter ***********/
.filter {
    gap: 10px;
    padding-top: 30px;
    display: flex;
    align-items: center;
}

.choice {
    display: flex;
    gap: 10px;
}

.choice button { /*Bouton section filtre*/
    background-color: white;
    border-radius: 30px;
    padding: 10px;
    font-size: 16px;
    font-weight: 700;
    border: 2px solid var(--main-bg-color);
    cursor: pointer; /*Change le cuseur pour un main*/
}

.choice button:hover { 
    background-color: var(--filter-bg-color);
}

.info { /*Zone info*/
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 30px;
}

.btn-info {
    width: 30px;
    height: 30px;
    padding: 8px;
    margin-right: 10px;
    border-radius: 20px  ;
    font-size: 10px;
    border: 2px solid var(--main-bg-color);
    background-color: white;
}

/****** Accommodation-and-popular ***********/
.accommodation-and-popular {
    display: flex;
    justify-content: space-between;
}

.accommodation-and-popular section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    box-sizing: border-box;
    padding: 30px;
}


/****** Accommodation ***********/
.accommodation {
    width: 65%; /*Largeur zone hebergement*/
}

.accommodation-title {
    padding-bottom: 30px;
}

.accommodation-card {
    display: flex;
    flex-wrap: wrap; /*Revenir a la ligne*/
    justify-content: space-between;
    row-gap: 30px;
}

.accommodation-card a {
    width: 30%; /*Largeur de la card*/
    height: 207px;
}

.accommodation-card img {
    width: 100%;
    height: 55%; /*Taille image dans la card*/
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.more{
    margin-top: 30px;
}

/****** Popular ***********/
.popular {
    width: 32%;
}

.popular-title {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}

.popular-card {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.popular-card a {
    width: 100%;
    height: 150px;
}

.popular-card .card {
    display: flex;
}

.popular-card img {
    width: 33%;
    height: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

/****** Activity ***********/
.activity {
    padding: 50px 30px;
}

.activity-title {
    padding-bottom: 30px;
}

.activity-card {
    display: flex;
    justify-content: space-between;
}

.activity-card .card {
    padding: 0;
}

.activity-card a {
    width: 23%;
    height: 439px;
}

.activity-card img {
    height: 88%;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.activity-card .card-content {
    padding-left: 20px;
    padding-top: 10px;
}


/****** Footer ***********/
footer {
    display: flex;
    gap: 250px;
    padding: 20px;
    background-color: var(--main-bg-color);
}

.footer-links {
    margin-top: 15px;
}

.footer-links li {
    margin-bottom: 15px;
}

.footer-links a {
    width: 100%;
}

.accent {
    text-transform: uppercase;
}

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    form{
        width: 50%;
    }

    .filter {
        flex-direction: column;
        align-items: flex-start;
        gap: 18px;
    }

    .accommodation-and-popular {
        flex-direction: column;
        gap: 50px;
    }

    .accommodation {
        width: 100%;
    }

    .popular {
        width: 100%;
    }

    .popular-card a {
        width: 30%;
    }

    .popular-card {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .activity-card a {
        height: 270px;
    }

    .activity-card img {
        height: 75%;
    }

    footer {
        gap: 140px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    * {
        box-sizing: border-box;
    }

    html, body {
        overflow-x: hidden;
        width: 100%;
    }
    
    .main-container{
        padding: 0;
    }

    nav{
        flex-direction: column;
        align-items: center;
        row-gap: 30px;
    }

    .links {
        width: 100%;
        gap: 0;
    }

    .left {
        flex: 1;
        display: flex;
        justify-content: center;
    }

    .right {
        flex: 1;
        display: flex;
        justify-content: center;
    }

    .links a {
        display: flex;
        justify-content: center;
        border-bottom: 2px solid var(--main-bg-color);
        padding-bottom: 10px;
        width: 100%;
    }

    .links li a:hover {
        border-top: hidden;
        border-bottom: 2px solid var(--main-color);
        padding: 0;
    }

    .title {
        padding: 20px;
    }

    .search {
        align-items: center;
        padding: 20px;
    }

    form {
        width: 98%;
    }

    .box {
        width: 90%;
    }

    .box::placeholder {
        padding-right: 40px;
    }

    .send {
        width: 45px;
        border-radius: 15px ;
        position: absolute;
        right: 0;
        margin-right: 20px;
    }

    .send .text {
        display: none;
    }

    .send i {
        display: inline-block;
        padding: 10px;
        color: white;
    }

    .filter {
        padding: 20px;
    }

    .choice {
        justify-content: center;
        flex-wrap: wrap;
    }

    button {
        width: 48%;
    }

    .info {
        padding: 20px;
    }

    .accommodation-and-popular {
        border-radius: 0px;
        margin-top: 0;
        gap: 0;
    }

    .accommodation-and-popular .accommodation {
        background-color: white;
    }

    .popular {
        order: 1;
        padding: 20px;
    }

    .popular-card {
        flex-direction: column;
        row-gap: 30px;
    }

    .popular-card a {
        width: 100%; 
    }

    .accommodation {
        order: 2;
        padding: 20px;
    }

    .accommodation-card {
        align-items: center;
        flex-direction: column;
    }

    .accommodation-card a {
        width: 100%;
    }

    .more {
        margin-top: 30px;
    }

    .activity {
        padding: 30px;
    }

    .activity-card {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .activity-card a {
        width: 100%;
        height: 200px;
    }

    footer {
        gap: 0;
        flex-direction: column;
        gap: 30px;
        padding: 30px;
    }

    .footer-links {
        margin-top: 20px;
    }
}